
<%= render 'books/showlist', book: @book, user: @user %>
<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to attachment_image_tag(@user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg",size:'40x40'),user_path(@user.id) %></td>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.body %></td>
          <td></td>
          <td></td>
        </tr>

      <% end %>
    </tbody>
  </table>
  <h2>投稿日数の前日比・前週比</h2>
  <table class="table table-hover table-inverse table-bordered">
    <thead>
      <tr>
        <th>今日の投稿数</th>
        <th>前日の投稿数</th>
        <th>前日比</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @today_book.count %></td>  <!--今日書き方パターン他: Time.zone.now.all_day-->
        <td><%= @yesterday_book.count %></td>  <!--前日-->
        <td>
        <!--前日の計算結果が0のif文を書かないとエラーがでるよroundは%のことだよ-->
        <% if @yesterday_book.count == 0 %>
          前日の投稿はありません
         <% else %>
         　<% @the_day_before =   @today_book.count / @yesterday_book.count.to_f  %>
         　<%= (@the_day_before * 100).round %>
         <% end %>
        </td>
    </tr>
    </tbody>
    <thead>
      <tr>
        <th>今週の投稿数</th>
        <th>前週の投稿数</th>
        <th>前週比</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @this_week_book.count %></td>
        <td><%= @a_week_ago_book.count %></td>
        <td>
        <% if @a_week_ago_book.count == 0 %>
          前週の投稿はありません
         <% else %>
         　<% @the_week_before =   @this_week_book.count / @a_week_ago_book.count.to_f  %>
         　<%= (@the_week_before * 100).round %>
         <% end %>
        </td>
      </tr>
    </tbody>
  </table>
     <h2>7日分の投稿数</h2>
     <table class="table table-hover table-inverse table-bordered">
       <thead>
         <th>6日前</th>
         <th>5日前</th>
         <th>4日前</th>
         <th>3日前</th>
         <th>2日前</th>
         <th>1日前</th>
         <th>今日</th>
       </thead>
       <tbody>
         <td><%= @six_day_ago_book.count %></td>
         <td><%= @five_day_ago_book.count %></td>
         <td><%= @four_day_ago_book.count %></td>
         <td><%= @three_day_ago_book.count %></td>
         <td><%= @two_day_ago_book.count %></td>
         <td><%= @yesterday_book.count %></td>
         <td><%= @today_book.count %></td>
       </tbody>
     </table>

      <canvas id="myLineChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <script>
    
    var ctx = document.getElementById("myLineChart");
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
        datasets: [
          {
            label: '投稿した本の数',
            data: [<%= @six_day_ago_book.count %> ,<%= @five_day_ago_book.count %> ,<%= @four_day_ago_book.count %> ,<%= @three_day_ago_book.count %> ,<%= @two_day_ago_book.count %> ,<%= @yesterday_book.count %>  ,<%= @today_book.count %> ],
            borderColor: "rgba(0,0,255,1)",
            backgroundColor: "rgba(0,0,0,0)"
          }
        ],
      },
      options: {
        title: {
          display: true,
          text: '7日間投稿数の比較 '
        },
        scales: {
          yAxes: [{
            ticks: {
              suggestedMax: 10,
              suggestedMin: 0,
              stepSize: 1,
              callback: function(value, index, values){
                return  value +  '冊'
              }
            }
          }]
        },
      }
    });
    </script>
    <%= form_with url: user_search_path(@user), method: :get do |f| %>
      <%= f.date_field :created_at %>　<!--このフィールドで[date_field]年/月/日が表示日付、時間入力のヘルパーメソッドは他にもあるよ-->
      <%= f.submit '検索', class: 'btn btn-primary'  %>
    <% end %>
    
    <div id="search_result"> <!--これでjsファイルを呼び出し-->
      <% if @search_book.present? %>
        <%= render 'search', search_book: @search_book %> <!--検索結果を部分テンプレート化-->
      <% end %>
    </div>
</div>